{% load static %}


<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorting visualization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/visualization.js' %}"></script>
    <style>

        body{
          background-color: dimgray;
        }
          .bar {
            fill: steelblue;
          }
        </style>
</head>
<body>

<main>
<a href="{% url 'mergeSort'%}">merge</a>
<a href="{% url 'bubbleSort'%}">bubble</a>
<a href="{% url 'selectionSort'%}">selection</a>
<a href="{% url 'radixSort'%}">radix</a>
<a href="{% url 'quickSort'%}">quick</a>

        {% block content %}

        {% endblock content %}


</main>



<script>
var checkTaskStatus = function(task_id) {
  $.ajax({
      type: "GET",
      url: "{% url 'checkStatus' %}",
      data: {'task_id': task_id},
      success: function(data) {
          if (data.status === "SUCCESS") {
              console.log("Task completed!");
              getTaskResult(task_id);
          } else if (data.status === "PROGRESS" || data.status === "STARTED" ) {
              console.log("Task not done yet!");
              setTimeout(function() { checkTaskStatus(task_id); }, 1000);
          } else {
              // An error occurred, handle it as needed
              console.log(data.status);
          }
      },
      error: function(xhr, status, error) {
          // An error occurred, handle it as needed
          console.log("ERROR",status,error);
      }
  });
};

var getTaskResult = function(task_id) {
$.ajax({
        type: "GET",
        url: "{% url 'getResults' %}",
        data: {'task_id': task_id},
        success: function(response) {
            animations = response.result;
            document.getElementById("start-button").disabled = false;
            console.log("Ready to go!");

        }
    });

  }

  $(document).ready(function() {
    checkTaskStatus("{{task_id}}");

  });

</script>
</body>
</html>
