{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-sm-4 d-flex">
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title">Sortowanie bąbelkowe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bubble sort</h6>
          <p class="card-text">porównuje się i zamienia miejscami sąsiednie elementy tablicy, aż zostanie osiągnięta pełna kolejność.</p>
          <a href="{% url 'bubbleSort' values.id %}" class="btn btn-primary">Wejdź</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex">
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title">Sortowanie przez wybór</h5>
          <h6 class="card-subtitle mb-2 text-muted">Selection Sort</h6>
          <p class="card-text">iteracyjnie znajduje się najmniejszy element i umieszcza go na odpowiedniej pozycji w tablicy.</p><br>
          <a href="{% url 'selectionSort' values.id %}" class="btn btn-primary">Wejdź</a>
    </div>
    </div>
    </div>
    <div class="col-sm-4 d-flex">
        <div class="card flex-fill">
          <div class="card-body">
            <h5 class="card-title">Sortowanie przez wstawianie</h5>
            <h6 class="card-subtitle mb-2 text-muted">Insertion sort</h6>
            <p class="card-text">iteracyjnie bierze się kolejny element i wstawia go na odpowiednie miejsce w posortowanej części tablicy.</p><br>
            <a href="{% url 'insertSort' values.id %}" class="btn btn-primary">Wejdź</a>
          </div>
        </div>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sortowanie przez scalanie</h5>
            <h6 class="card-subtitle mb-2 text-muted">Merge Sort</h6>
            <p class="card-text">tablica jest rekurencyjnie dzielona na mniejsze części, a następnie te części są łączone w posortowany sposób.</p>
            <a href="{% url 'mergeSort' values.id %}" class="btn btn-primary">Wejdź</a>
          </div>
        </div>
      </div>
  </div>
{% endblock content %}